* {
    margin: 0;
    padding: 0;
}

.header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 66px;
    background-color: #000000;
    padding: 23px 148px;
    z-index: 2;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
}

.header-nav-logo {
    width: 79px;
    height: 27px;
}

.header-nav-menu {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    min-width: 480px;
    align-items: center;
    flex-wrap: wrap;
}

.header-nav-menu-el {
    opacity: 0.69;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    text-align: right;
    transition: all .3s;
}
.header-nav-menu-el a {
    text-decoration: none;
    color: #ffffff;
}
.header-nav-menu-el a:hover{
    color: #29bbff;
}

.main {
    position: relative;
    margin-top: 112px;
    min-height: calc(400px - 72px);
    background: url('./../img/main_background.jpg') center center/cover no-repeat;
    padding: 110px 150px 182px 150px;
}

.main-flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.main-flex-container {
    width: 512px;
}

.main-flex-container-logo {
    display: block;
    width: 175px;
    height: 60px;
}

.main-flex-container-title {
    margin-top: 33px;
    color: #ffffff;
    font-size: 36px;
    font-weight: 400;
    font-style: normal;
    line-height: normal;
    text-align: left;
    text-transform: uppercase;
    width: 552px;
    font-family: 'Raleway', sans-serif;
}

.main-flex-container-text {
    opacity: 0.8;
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
    line-height: 23px;
    text-align: left;
}

.main-flex-container-text::before {
    content: '';
    display: block;
    width: 72px;
    height: 2px;
    box-shadow: 0 0 30px gray;
    background-color: white;
    margin-bottom: 30px;
    margin-top: 30px;
}

.main-flex-container-button {
    display: block;
    width: 135px;
    height: 42px;
    outline: none;
    border: solid 2px #ffffff;
    background: none;
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    margin-top: 44px;
    cursor: pointer;
    transition: all .3s;
}
.main-flex-container-button:hover{
    background: white;
    color: black;
}

.main-flex-container-card {
    width: 360px;
    min-height: 380px;
    background-color: white;
    border-radius: 10px;
}

.main-flex-container-titleForm {
    margin-top: 18px;
    color: #333333;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

.main-flex-container-title-orange {
    color: #ff8b38;
}

.main-flex-container-form {
    margin: 20px auto;
    width: 285px;
}

.main-flex-container-form-input {
    display: block;
    margin-top: 36px;
    width: 100%;
    height: 31px;
    outline: none;
    border: none;
    background-color: white;
    border-bottom: solid 1px rgba(0, 0, 1, 0.16);
    padding: 5px;
}

.main-flex-container-submit {
    display: block;
    margin-top: 66px;
    outline: none;
    background: #ff8b38;
    border: none;
    width: 100%;
    height: 53px;
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    cursor: pointer;
    transition: all .3s;
}
.main-flex-container-submit:hover{
    color: black;
}
.media{
    min-height: 105px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.38);
    background-color: #ffffff;
}
.media-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 1082px;
    margin: 0 auto;
    padding-top: 19px;
}

.media-flex-info{
    width: 365px;

}
.media-flex-info h2{
    height: 17px;
    color: #333333;
    font-size: 20px;
    font-weight: 700;
}
.media-flex-info p{
    margin-top: 12px;
    color: #86878b;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
}
.media-flex-icons{
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 634px;
}
.media-flex-icons-icon a{
    color: #cccccc;
}
.media-flex-icons-icon a i{
    font-size: 48px;
    font-weight: 400;
    transition: all .3s;
}
.media-flex-icons-icon .fa-facebook:hover{
    color: #00419f;
}
.media-flex-icons-icon .fa-twitter:hover{
    color: #3c9dff;
}
.media-flex-icons-icon .fa-google-plus:hover{
    color: #ff4646;
}
.media-flex-icons-icon .fa-pinterest-p:hover{
    color: #b00000;
}
.media-flex-icons-icon .fa-instagram:hover{
    color: #b80cef;
}
.media-flex-icons-icon .fa-stumbleupon:hover{
    color: #005dc0;
}
.media-flex-icons-icon .fa-rss:hover{
    color: #000000;
}
.tabs{
    min-height: 595px;
    background-color: #ffffff;
    padding-top: 147px;
}
.tabs-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 1110px;
}
.tabs-flex-list{
    list-style-type: none;
}
.tabs-flex-list-tab{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 112px;
    height: 112px;
    background: #1f1f1f;
    border: solid 1px white;
}
.tabs-flex-list-tab:hover{
    background: #ff8b38;
}
.tabs-flex-list-tab p{
    color: #ffffff;
    font-size: 15px;
    font-weight: 700;
}
.container-tab{
    width: 485px;
    height: 340px;
    overflow: hidden;
}
.tabs-flex-info{
    width: 476px;
    display: none;
    opacity:0;
    transition: all .5s;
}
.active{
    display: block;
    animation: ani .7s linear forwards;
}
@keyframes ani {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}



.tabs-flex-info h2{
    color: #000000;
    font-size: 20px;
    font-weight: 700;
}
.tabs-flex-info p{
    margin-top: 52px;
    color: #86878b;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
.tabs-flex-info button{
    margin-top: 51px;
    width: 121px;
    height: 46px;
    background: #ff8b38;
    outline: none;
    border: none;
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    cursor: pointer;
    transition: all .3s;
}
.tabs-flex-info button:hover{
    color: black;
}
.tabs-flex-image{
    width: 320px;
    height: 253px;
}
.sectionList1{
    min-height: 596px;
    background-color: #ffffff;
    padding-top: 107px;
}
.sectionList1-flex{
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 1080px;

}
.sectionList1-flex-image{
    display: block;
    width: 453px;
    height: 303px;
    box-shadow: 0 19px 40px grey;

}
.sectionList1-flex-info{
    width: 433px;
}
.sectionList1-flex-info h2{
    color: #212121;
    font-size: 20px;
    font-weight: 700;
}

.sectionList1-flex-info p{
    color: #86878b;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
.sectionList1-flex-info .text:before{
    content: '';
    display: block;
    width: 64px;
    height: 2px;
    background-color: #ff8b38;
    margin-top: 29px;
    margin-bottom: 30px;
}
.sectionList1-flex-info-list{
    list-style-type: none;
    padding: 0;
    width: 100%;
}
.sectionList1-flex-info-list-el{
    margin-top: 42px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}
.sectionList1-flex-info-list-el-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: solid 1px #ff8b38;
    border-radius: 100%;
}
.sectionList1-flex-info-list-el-container i{
    color: #ff8b38;
    font-size: 16px;
    font-weight: 400;
}
.sectionList1-flex-info-list-el-containerInfo{
    width: 360px;
}
.sectionList1-flex-info-list-el-containerInfo h3{
    color: #212121;
    font-size: 14px;
    font-weight: 400;
}

.sectionList1-flex-info-list-el-containerInfo p{
    margin-top: 12px;
    color: #86878b;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
.listMain{
    min-height: 592px;
    background-color: #ffffff;
}
.listMain-title{
    padding-top: 108px;
    color: #212121;
    font-family: Raleway, sans-serif;
    font-size: 36px;
    font-weight: 400;
    text-align: center;
}
.listMain-text{
    color: #86878b;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
}
.listMain-text:before{
    content: '';
    display: block;
    width: 64px;
    height: 2px;
    background-color: #ff8b38;
    margin: 30px auto;
}
.listMain-list{
    margin: 80px auto;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    width: 1114px;
}
.listMain-list-el{
    width: 350px;
}
.listMain-list-el-container{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    border: solid 1px #ff8b38;
    border-radius: 100%;
}
.listMain-list-el-container i{
    width: 19px;
    height: 28px;
    color: #ff8b38;
    font-size: 32px;
    font-weight: 400;
}
.listMain-list-el-container .keyboard{
    margin-right: 15px;
}
.listMain-list-el-title{
    text-align: center;
    margin-top: 29px;
    color: #333333;
    font-size: 20px;
    font-weight: 700;
}
.listMain-list-el-text{
    color: #86878b;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    margin-top: 25px;
}
.options{
    min-height: 883px;
    background-color: #ffffff;
}
.options-title{
    padding-top: 108px;
    color: #212121;
    font-family: Raleway, sans-serif;
    font-size: 36px;
    font-weight: 400;
    text-align: center;
}
.options-text{
    color: #86878b;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
}
.options-text:before{
    content: '';
    display: block;
    width: 64px;
    height: 2px;
    background-color: #ff8b38;
    margin: 30px auto;
}
.options-flex{
    width: 1109px;
    margin: 80px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

}
.options-flex-item{
    width: 343px
}
.options-flex-item-card{
    margin: 0 auto;
    width: 100%;
    background: #1f1f1f;
    min-height: 216px;
}
.effect-card{
    transform: translate(0,-19px);
}
.options-flex-item-card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 59px;
    border: solid 1px white;
    width: 100%;
}
.options-flex-item-card-container h3{
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
}
.options-flex-item-card-cost{
    text-align: center;
    margin-top: 30px;
    color: #ffffff;
    font-size: 94px;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
}
.options-flex-item-card-desc{
    text-align: center;
    margin-top: 28px;
    opacity: 0.5;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
}
.options-flex-item-card-wap{
    margin-top: 21px;
    height: 5px;
    background: #ff8b38;
}
.effect-card-wap{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 43px;
}
.effect-card-wap-text{
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
}
.options-flex-item-list{
    list-style-type: none;
    width: 100%;
}
.effect-list{
    transform: translateY(-18px);
}
.options-flex-item-list li{
    margin-top: 14px;
    width: 100%;
    text-align: center;
    color: #86878b;
    font-size: 14px;
    font-weight: 400;

}
.people{
    min-height: 591px;
    background-color: #ffffff;
    padding-top: 55px;
}
.people-flex{
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width:1024px;
}
.people-flex-el{
    width: 258px;
}
.left{
    text-align: left;
}
.people-flex-el-container{
    margin-top: 49px;
    width: 183px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
.people-flex-el-container-img{
    width: 70px;
    height: 70px;
    border-radius: 100%;
}
.people-flex-el-container-wrapper{
    width: 98px;
}
.margin{
    margin-top: 3px;
}
.people-flex-el-container-wrapper-name{
    color: #333333;
    font-size: 20px;
    font-weight: 700;
    font-style: normal;
    text-align: center;
}
.wapper{
    min-height: 320px;
    background: rgba(0,0,0,0);
}
.wapper-title{
    padding-top: 74px;
    text-align: center;
    color: #ffffff;
    font-family: Raleway,sans-serif;
    font-size: 36px;
    font-weight: 400;
}
.wapper-text{
    opacity: 0.8;
    color: #ffffff;
    font-family: Raleway,sans-serif;
    font-size: 16px;
    font-weight: 300;
   text-align: center;
}
.wapper-text:before{
    content: '';
    display: block;
    width: 64px;
    height: 2px;
    background-color: #ffffff;
    margin: 29px auto 30px;
}
.center{
    margin: 33px auto;
}
.contacts{
    min-height: 643px;
    background-color: #ffffff;
}
.contacts-form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 1171px;
    margin: 50px auto 0;
}
.contacts-form-container{
    width: 527px;
}
.contacts-form-container input {
    margin-top: 30px;
    height: 32px;
    width: 527px;
    display: block;
    outline: none;
    background: white;
    padding: 3px;
    border: none;
    border-bottom: solid 1px #cbcbcb;

}
.contacts-form textarea {
    margin-top: 54px;
    height: 143px;
    width: 527px;
    display: block;
    outline: none;
    background: white;
    padding: 3px;
    border: none;
    border-bottom: solid 1px #cbc9c9;
    resize: none;

}
.contacts-form button{
    display: block;
    margin: 51px auto;
    width: 121px;
    height: 46px;
    background: #ff8b38;
    outline: none;
    border: none;
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    transition: all .3s;
}
.contacts-form button:hover{
    color: black;
}

.footer{
    /*height: 38px;*/
    background-color: #000000;
    padding: 30px;
}
.footer-flex{
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    width: 317px;
    justify-content: space-between;
}
.footer-flex-icons-icon{
}
.footer-flex-icons-icon i{
    color: #cccccc;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}
.footer-text{
    opacity: 0.5;
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    margin-top: 15px;
}
.main1{
    position: fixed;
    z-index: -1;
    top: -544px;
    right: -18px;
}
