*{
    margin: 0;
    padding: 0;
}
.header{
    height: 66px;
    background-color: #000000;
    padding: 23px 148px;
}
.header-nav{
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
}
.header-nav-logo{
    width: 79px;
    height: 27px;
}
.header-nav-menu{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    min-width: 480px;
    align-items: center;
    flex-wrap: wrap;
}
.header-nav-menu-el {
    opacity: 0.69;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    text-align: right;
}
.main{
    height: calc(713px - 72px);
    background: url('./../img/main_background.jpg') center center/cover no-repeat;
    padding: 110px 150px 182px 150px ;
}
.main-flex{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.main-flex-container{
    width: 512px;
}
.main-flex-container-logo{
    display: block;
    width: 175px;
    height: 60px;
}
.main-flex-container-title{
    margin-top: 33px;
    color: #ffffff;
    font-size: 36px;
    font-weight: 400;
    font-style: normal;
    line-height: normal;
    text-align: left;
    text-transform: uppercase;
    width: 552px;
}
.main-flex-container-text{
    opacity: 0.8;
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
    line-height: 23px;
    text-align: left;
}
.main-flex-container-text::before{
    content: '';
    display: block;
    width: 72px;
    height: 2px;
    box-shadow: 0 0 30px gray;
    background-color: white;
    margin-bottom: 30px;
    margin-top: 30px;
}
.main-flex-container-button{
    display: block;
    width: 135px;
    height: 42px;
    outline: none;
    border: solid 2px #ffffff;
    background: none;
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    margin-top: 44px;
}

.main-flex-container-card{
    width: 360px;
    min-height: 380px;
    background-color: white;
    border-radius: 10px;
}
.main-flex-container-titleForm{
    margin-top: 18px;
    color: #333333;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}
.main-flex-container-title-orange{
    color: #ff8b38;
}
.main-flex-container-form{
    margin: 20px auto;
    width: 285px;
}
.main-flex-container-form-input{
    display: block;
    margin-top: 36px;
    width: 100%;
    height: 31px;
    outline: none;
    border: none;
    background-color: white;
    border-bottom: solid 1px rgba(0, 0, 1, 0.16);
    padding: 5px;
}
.main-flex-container-submit{
    display: block;
    margin-top: 66px;
    outline: none;
    background: #ff8b38;
    border: none;
    width: 100%;
    height: 53px;
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
}
